/.github            export-ignore
/.gitignore         export-ignore
/.gitattributes     export-ignore

README.md           export-ignore
readme.txt          export-ignore

node_modules        export-ignore
vendor              export-ignore

.env                export-ignore
.env.local          export-ignore

.DS_Store           export-ignore
Thumbs.db           export-ignore
